
html {
    scroll-behavior: smooth;
    padding: 0!important;
    margin: 0!important;
}

#menu{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.rosaFuerte{
    background: #D932AC
}

.navbar{
    background: #D932AC;
    width: auto;
}
#myTable {
    width: 100%!important;
}

.dataTables_length {
    margin-bottom: 2rem;
}

.dataTables_wrapper {
    padding: 6rem;
    padding-top: 18px;
}

@media screen and (max-width:900px){
    .logo{
        width: 50%!important;
    }
    .dataTables_length {
        margin-bottom: 0;
        width: fit-content;
    }
    .dataTables_wrapper {
        padding: 0;
    }
}