#baseformRegistro{
 background-color: #F2D8F2;
}

input{
    border: none;
}

#contenido{
    padding-top: 2rem !important;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.form-control{
    border: none !important;
    border-radius: 0 !important;
}

.img-upload {
    position: relative;
    width: 100%;
}

#sectionQR{
    display: grid;
    height: 100%;
}
#btnDescargar{
    border: none;
    margin-top: 2rem;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
#btnImprimir{
    border: none;
    margin-top: 2rem;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.img-QR {
    width: 50%;
    height: auto;
}

.spinner-border {
    display: none;
}
#enviarForm{
    margin-left: 25% !important;
    border: none;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}