#baseformRegistro{
 background-color: #F2D8F2;
}

input{
    border: none;
}

#contenido{
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.form-control{
    border: none !important;
    border-radius: 0 !important;
}

.img-upload {
    position: relative;
    width: 100%;
}

#sectionQR{
    display: block;
    height: 100%;
    text-align: center;
}
#btnDescargar{
    border: none;
    margin-top: 2rem;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    position: relative;
}
#btnImprimir{
    border: none;
    margin-top: 2rem;
    color:white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.img-QR {
    width: 50%;
    height: auto;
}

.spinner-border {
    display: none;
}

.subSeccion {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 2rem 0px;
}

#enviarForm{
    margin-left: 25% !important;
    border: none;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}
@media (max-width:992px) {
    #contenido {
        flex-direction: column-reverse;
    }
    .img-QR {
        width: 12rem;
    }

}
@media (max-width:545px) {
    #contenido{
        padding-top: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}