body {
    position: relative;
    background-blend-mode: soft-light;
  }

  #githubLink {
    position: absolute;
    right: 0;
    top: 12px;
    color: #2D99FF;
  }

  h1 {
    margin: 10px 0;
    font-size: 40px;
  }

  #loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
  }

  #canvas {
    width: 100%;
    border-radius: 12px;
  }

  #output {
    display: flex;
    background-color: #F2D8F2;
    padding: 2rem !important;
    align-items: center;
    flex-flow: column;
    border-radius: 12px;
  }

  .outputMessage {
    font-size: 18px;
    font-weight: 600;
    margin: 1rem 0px;
    align-self: center;
  }

  #output .datosSalida {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #output .datosSalida .datosEncontrados label {
    font-size: 20px;
    font-weight: 600;
  }

  #output .datosSalida .datosEncontrados span {
    font-size: 20px;
    font-weight: 600;
    color: red;
    margin-left: 12px;
  }

  #noQRFound {
    text-align: center;
  }
  #imagenResultado{
    width: 50%;
  }

  .contenido {
    min-height: 80vh;
    align-items: center;
  }

  @media (max-width:772px) {
    #imagenResultado {
      width: 80%;
    }
  }