body {
    position: relative;
    background-blend-mode: soft-light;
  }

  #githubLink {
    position: absolute;
    right: 0;
    top: 12px;
    color: #2D99FF;
  }

  h1 {
    margin: 10px 0;
    font-size: 40px;
  }

  #contenido {
    padding-top: 2rem !important;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }

  #loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
  }

  #canvas {
    width: 100%;
  }

  #output {
    background-color: #F2D8F2;
    padding: 1rem !important;
  }

  #output div {
    padding-bottom: 10px;
    word-wrap: break-word;
  }

  #noQRFound {
    text-align: center;
  }
  #imagenResultado{
    width: 50%;
  }